<div>
	<form id="newForm" name="newProductForm" ng-submit="store.addProduct()">
	    
		<input ng-model="store.newProduct.name" type="text" placeholder="The Name of the thing"/>
		<br/>		
		<input ng-model="store.newProduct.price" type="number" pattern="^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?$" min="0" step="0.01" placeholder="0.00" novalidate/>
		<br/>
		<input type="file" id="filer" onChange="upload(this)"/>
		<input type="hidden" id="photo" ng-init="store.newProduct.photo=car4.jpg" ng-model="store.newProduct.photo"/>
		<br/>
		<textarea ng-model="store.newProduct.description" placeholder="The description of the thing"></textarea>
		<br/>
		<input type="submit"/>
		
	</form>
</div>